.field{
  --fieldInputHeight:var(--input-height);//58px //Задаем переменную для того,чтобы поменять потом в модификаторе field__big-height
  --fieldInputTextColor:var(--color-dark);
  --fieldInputBgColor:var(--color-light); //Задаем переменную для того,чтобы поменять потом в модификаторе field__dark-bg
  --fieldInputBorderColor:var(--color-dark);
  --fieldInputPlaceholderColor:var(--color-gray-alt);
  --fieldInputHoverBgColor:var(--color-accent);
  display:flex;
  flex-direction:column;
  align-items:start;
  row-gap:5px;

  &--big-height{
    --fieldInputHeight:var(--button-height); //68px
  }
  
  &--dark-bg{
    --fieldInputTextColor: var(--color-accent);
  --fieldInputBgColor:var(--color-dark-alt);
    --fieldInputBorderColor:var(--color-light);
    --fieldInputPlaceholderColor:var(--color-light);
    --fieldInputHoverBgColor:var(--color-dark);


  }
  @include mobile{
    row-gap:10px;
  }

  &__label {
    @include fluid-text(16, 14);
  }

  &__input{
    width:100%;
    height:var(--fieldInputHeight);
    padding-inline:30px;
    color:var(--fieldInputTextColor);
    background-color: var(--fieldInputBgColor);
    border: 1px solid var(--fieldInputBorderColor);
    border-radius:var(--border-radius);

    @include hover{
      background-color:var(--fieldInputHoverBgColor);
    }

    @include hover{
      padding-inline: 20px;
    }

    &:focus{
    border-color:var(--color-accent);
    outline:none;
  }
    &::placeholder{
      color:var(--fieldInputPlaceholderColor);
      @include fluid-text(18, 16);

    }
    &--textarea{
      height:190px;
      padding-block:18px;
      resize:none;// запрещаем изменять размеры текстового поля в браузере

      @include mobile{
        height:132px;
      }
    }
  }

}