.pagination {
    &__list {
        display: flex;
    }
    &__button {
        @extend .reset-button;
        @include flex-center;
        @include square(24px); //размер кнопок увеличены до 24px
        color: var(--color-light);

        @include hover {
            color: var(--color-accent);
        }

        &.is-current {
            color: var(--color-accent);
        }
        &.disabled {
            color:var(--color-gray-alt);
        }
    }
}
