.studies {
    @include desktop-above { //для mobile-first 1280 и выше
        padding: 70px 60px;
    }

    @include mobile-above { // mobile-first 767px и выше
        color: var(--color-light);
        background-color: var(--color-dark);
        border-radius: var(--border-radius-large);
        padding: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include mobile {
            scroll-snap-type: x mandatory; // скролл по оси X
            overflow-x: scroll;
            width: 100vw;
            column-gap: 20px;
            // при переполнении содержимого по горизонтали (когда содержимое выходит за границы ширины элемента)
            // появлялась горизонтальная полоса прокрутки.
        }
    }

    &__item {
        --studiesItemPaddingX: 64px; // переменная горизонтального отступа карточек

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include desktop {
            --studiesItemPaddingX: 32px;
        }

        @include mobile-above { //mobile-first от 768 и выше

            &:not(:first-child) {
                padding-left: var(--studiesItemPaddingX);
            }

            &:not(:last-child) {
                padding-right: var(--studiesItemPaddingX);
                border-right: 1px solid var(--color-light);
            }
        }
        @include mobile {  //для desktop-first  0-767
            min-width: 350px;
            color: var(--color-light);
            background-color: var(--color-dark);
            border-radius: var(--border-radius-large);
            padding: 42px 50px;
            scroll-snap-align: start; //scroll-snap-align: start; указывает, что элемент должен выравниваться к началу (левой) границы контейнера с привязкой.
        }
    }

    &__description {
    @include desktop-above { // для mobile-first 1280 и выше
      min-width: 286px;
      }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        column-gap: 15px;
        font-size: 20px;
        line-height: 1.4;
        color: var(--color-accent);

        @include hover {
            opacity: 0.7;
        }
    }
}
