.team {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &__button {
        align-self: end;
        min-width: 269px;

      @include mobile-s{ //для desktop-first 0-480
      width: 100%;
      }
    }
}
